OCR_SPACE_API_KEY=
NEO4J_URI=
NEO4J_USERNAME=neo4j
NEO4J_PASSWORD=

NOMIC_API_KEY=
NOMIC_MODEL=nomic-embed-text-v1.5

QDRANT_API_KEY=
QDRANT_URL=
QDRANT_COLLECTION=scholaris_chunks

GROQ_API_KEY=
GROQ_MODEL=llama-3.3-70b-versatile

# Local development
BACKEND_URL=http://localhost:8000
HISTORY_DIR=chat_history